.destroy {
  margin-right: 0;
}
.example {
  display: block;
}
#main_header {
  font-weight: bold;
  font-size: 18px;
}

body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.example_donut_view {
  display:block;
  width: 40%;
  float: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

aside {
  margin-top: 10px;
  margin-bottom: 10px;
}

.donuts {
  overflow: auto;
  float: left;
  width: 150px;
  border-right: 1px solid black;
  padding-right: 10px;
}

.donuts li .destroy {
  float: right;
}
